@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&display=swap');
/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #FFF;
}
::selection{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.3);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    width: 770px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col8%{
    float: left;
    width: 10%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col92%{
    float: left;
    width: 92%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-12{
    float: left;
    width: 100%;
/*    padding: 15px;*/
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
/*    padding: 15px;*/
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/*************************************************************************************************************
********************************************* SECTION CLASSES *************************************************
*************************************************************************************************************/
.section{
    padding: 0px 0;
}
.section-white{
    background: #FFF;
    color: #333;
}
.section-black{
    background-color: #000;
    color: #FFF;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    margin: 0 0 18px;
}
.section .section-heading p{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin: 0;
}
.section-white .section-heading p{
    color: dimgray;
}
.section-black .section-heading p{
    color: #AAA;
}
/*************************************************************************************************************
********************************************* NAVBAR CLASSES *************************************************
*************************************************************************************************************/
.sideBar{
    background-color: #333;
    top: 0;
    left: 0;
    position: fixed;
    width: 8%;
    height: 100%;
}
.sideBar img{
    width: 100%;
    height: 130px;
    vertical-align: middle;
}
.sideBar a{
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 18px;
}
.sideBar span{
    font-size: 36px;
    text-align: center;
}
.sideBar a:hover{
    background-color: #000;
}
.sideBar .home{
    background-color: #000;
    color: #FFF;
}
.sideBar .home:hover{
    background-color: #FFF;
    color: #333;
}
/*************************************************************************************************************
********************************************* IMAGE CLASSES *************************************************
*************************************************************************************************************/
.showcase img{
    margin-top: 70px;
/*    padding-left: 100px;*/
}
.showcase h1{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    padding-left: 200px;
}
.showcase p{
    text-align: center;
    padding-left: 200px;
}
/*************************************************************************************************************
********************************************* ABOUT ME CLASSES ***********************************************
*************************************************************************************************************/
.myname{
    padding-top: 100px;
    width: 990px;
}
.myname h3{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}
.line{
    height: 2px;
    width: 200px;
    background-color: #EEE;
    margin-top: 25px;
    margin-bottom: 20px;
}
.myname p{
    text-align: justify;
    color: #757575;
    font-size: 15px;
    line-height: 1.5;
/*    width: 990px;*/
    padding-left: 0;
}
.myname h4{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    padding-top: 30px;
/*    padding-bottom: 30px;*/
}
.pb{
    width: 990px;
}
.pbText p{
    color: dimgray;
    font-size: 15px;
}
.lg{
    height: 30px;
    width: 100%;
    background-color: #FFF;
}
.dg1{
    height: 30px;
    width: 90%;
    background-color: #696969;
}
.dg2{
    height: 30px;
    width: 85%;
    background-color: #696969;
}
.dg3{
    height: 30px;
    width: 75%;
    background-color: #696969;
}
.rm-8{
    margin-right: 8px;
}
.block-of-white-with-content{
    background-color: #FFF;
    width: 990px;
    height: 135px;
/*    padding-top: 200px;*/
    margin-top: 300px;
    margin-bottom: 40px;
}
.style{
    color: #333;
    font-size: 24px;
}
.inside{
    font-size: 18px;
    color: #333;
}
.btn{
    background-color: #FFF;
    color: #000;
    font-size: 15px;
    padding: 12px 24px;
}
.btn:hover{
    background-color: #f1f1f1;
    color: #000;
}
.myprice h4{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    padding-top: 50px;
/*    padding-bottom: 30px;*/
}
.box{
    background-color: #FFF;
    color: #333;
    padding-top: 0px;
}
.box .basic{
    padding: 10px 60px;
    background-color:#616161;
    color: #FFF;
    font-size: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    
}
.mc{
    width: 990px;
}
.box ul{
    padding-left: 0;
}
.box ul li{
    list-style: none;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.box .ptb-16{
    padding-bottom: 16px;
    padding-top: 16px;
}
.box .signUp{
    background: #FFF;
    color: #333;
    padding: 12px 24px;
}
.box ul li:last-child{
    border: none;
    padding-bottom: 30px;
    padding-top: 30px;
}
.box .signUp:hover{
    background-color: #333;
    color: #fff;
}
.box{
    opacity: 0.60;
    margin-bottom: 50px;
}
.box:hover{
    opacity: 1;
}
.box .su{
    background-color: #f1f1f1;
}
.myreputation h4{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}
.myreputation .bmImg{
    float: left;
    border-radius: 50%;
    margin-right: 16px;
    vertical-align: middle;
    border-style: none;
    width: 80px;
}
.myreputation .cf{
    font-size: 18px;
    color: #757575;
}
.myreputation p{
    font-size: 15px;
    color: #757575;
}
.rp{
    margin-top: 40px;
}
.rp1{
    margin-top: 40px;
}
.images{
    width: 990px;
    margin-bottom: 100px;
}
.mypics{
    padding-top: 150px;
    width: 990px;
}
.mypics h3{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}
.img1{
    width: 485px;
    height: 305px;
}
.img3{
    height: 820px;
    width: 485px;
}
.img6{
    height: 330px;
    width: 485px;
}
.img2{
    width: 485px;
    height: 485px;
}
.img4{
    width: 485px;
    height: 320px;
}
.img5{
    width: 485px;
    height: 305px;
}
.img7{
    width: 485px;
    height: 365px;
}
.leftImages{
    width: 50%;
    float: left;
}
.rightImages{
    width: 50%;
    float: right;
}
.images img{
    padding: 5px;
}
/*************************************************************************************************************
********************************************* CONTACT ME CLASSES *********************************************
*************************************************************************************************************/
.contactme{
    padding-top: 30px;
    width: 990px;
}
.contactme h3{
    color: #f1f1f1;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
    padding-top: 100px;
}
.rm-30{
    margin-right: 30px;
}
.rm-22{
    margin-right: 22px;
}
.rm-20{
    margin-right: 13px;
}
.contactme span{
    font-size: 36px;
    color: #FFF;
}
.contactme p{
    font-size: 15px;
    color: #757575;
}
.statement{
    padding-top: 50px;
}
.formInput{
    border: 1px solid #ccc;
    padding: 15px;
    display: block;
    width: 98.7%;
    margin-bottom: 15px;
}
.btnSend{
    background-color: #FFF;
    color: #333;
    padding: 12px 24px;
}
.btnSend:hover{
    background-color: #f1f1f1;
    color: #333;
}
/*************************************************************************************************************
********************************************* FOOTER CLASSES *************************************************
*************************************************************************************************************/
.social-icons{
    padding-top: 100px;
    color: #757575;
    font-size: 24px;
}
.pwb{
    color: #757575;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 100px;
}